
  
  img {
    width: 10rem;
    height: 12px;
    padding: 0 15px;
  }
  
  img:last-of-type {
    padding-left: 0;
  }
  
  .inner {
    width: 100%;
  }
  
  .wrapper {
    display: flex;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  