
  
  img {
    width: 10rem;
    height: 12px;
    padding: 0 15px;
  }
  
  img:last-of-type {
    padding-left: 0;
  }
  
  .inner {
    width: 100%;
  }
  
  .wrapper {
    display: flex;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  blockquote p {
    color: black !important;
  }
  .wysiwyg-content img {
    width: 80%;
    height: 40vh;
    border-radius: 22px;
    padding-top: 20px;
    /* margin-top: 50px; */
    margin:auto;
    background-color: transparent !important;
  }
  blockquote, .pages-content blockquote, .comment-list blockquote {
    background-color: transparent;
    color: black !important;
  }
  ol, ul, menu {
    list-style: decimal;
  }
  li{
    list-style: decimal;
  }